@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://codedotspectra.github.io/themes/mini-themes/settingsIcons.css');
:root {  
    --background-primary: #151514;
    --background-secondary: #111111;
    --background-tertiary: #0c0c0c;
    --background-secondary-alt: #0c0c0c;
    --scrollbar-auto-thumb: #95b906;
    --scrollbar-thin-thumb: #95b906;
    --channeltextarea-background: #0C0C0C;
    --background-floating: #151514;
  --deprecated-quickswitcher-input-background: #151514;
}

.auto-Ge5KZx {
    background-color: #151514;
}


/*
#private-channels > .content-3YMskv > [role="listitem"]:not(.selected-aXhQR6):not(#private-channels-0):not(#private-channels-1):not(#private-channels-2) {
   filter: blur(5px)
}
#private-channels > .content-3YMskv > [role="listitem"]:hover:not(#private-channels-0):not(#private-channels-1):not(#private-channels-2) {
   filter: blur(0);
   transition: filter .5s
}

If you want your friend list to
be blured and once
you hover it shows -> remove comments */
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
    grid-column:5/5;
    /*display:none;*/
}

/* Compact Status Menu */


.userPopout-3XzG_A, .inner-1ilYF7, .root-1gCeng {
	  border-radius:0px;
     box-shadow: 0 0 0 1px #3c3c3c, 0 0 0 3px #282828, 0 0 0 4px #3c3c3c, 0 0 0 5px #0a0a0a !important;
  

}


.cozy-3raOZG .messageContent-2qWWxC {}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgb(149 185 6 / 0.8);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #95B906;
}

.theme-dark .closeButton-1tv5uR {
    border-color: #95B906;
}

.wordmark-2iDDfm svg {
    display: none;
}

.wordmark-2iDDfm {
    opacity: 1;
    font-family: 'Raleway' !important;
}

.sprite-2iCowe {
    background-position: 0px 0px !important;
}


.wordmark-2iDDfm::before {
    content: 'noe';
    font-size: 14px;
    z-index: 1000;
    position: fixed;
    display: inline-block;
    color: var(--text-normal);
    height: auto;
    top: 11px;
    left: 10px;
    background-color: transparent;
}



.wordmark-2iDDfm::after {
    content: 'sense';
    font-size: 14px;
    z-index: 1000;
    position: fixed;
    display: inline-block;
    color: #95b906;
    height: auto;
    top: 11px;
    left: 34.5px;
    background-color: transparent;
}

.markup-2BOw-j {
    font-family: 'Verdana',Helvetica,Arial,sans-serif;
    font-size: 13px!important;
    color: #CECECC;
}

.overflow-WK9Ogt .selected-aXhQR6 {
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    font-size: 9pt;
    color: white;
}

.typeWindows-1za-n7 {
    height: 20px;
    margin-bottom: -20px;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #18191C;
    color: hsla(0,0%,100%,.8);
}

.appMount-3lHmkl {
    /* thank you shaxzy very cool */
    left: 6px;
    top: 6px;
    height: calc(100vh - 12px);
    width: calc(100vw - 12px);
    box-shadow: 0 0 0 1px #3c3c3c, 0 0 0 4px #282828, 0 0 0 5px #3c3c3c, 0 0 0 6px #0a0a0a;
}

.typeWindows-1za-n7 {
    /* thank you shaxzy very cool */
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    background: #1e5799;
    background: -moz-linear-gradient(left, #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e5799), color-stop(50%, #f300ff), color-stop(100%, #e0ff00));
    background: -webkit-linear-gradient(left, #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    background: -o-linear-gradient(left, #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    background: -ms-linear-gradient(left, #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    background: linear-gradient(to right, #1e5799 0%, #f300ff 50%, #e0ff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e0ff00', GradientType=1);
    height: 2px;
    border-bottom: 1px solid #000;
}

.file-34mY5K {
    background-color: #0C0C0C;
}

.inner-3nWsbo {
    background-color: #0C0C0C;
}

.theme-dark .footer-3mqk7D {
    background-color: #151514;
}

.theme-dark .uploadModal-2ifh8j {
    background-color: #0C0C0C;
}

.titleBar-AC4pGV>*:nth-child(2) {
    background-color: transparent;
    transition: background-color 1s ease-out;
}

.titleBar-AC4pGV>*:nth-child(3) {
    background-color: transparent;
    transition: background-color 1s ease-out;
}

.titleBar-AC4pGV>*:nth-child(4) {
    background-color: transparent;
    transition: background-color 1s ease-out;
}

.titleBar-AC4pGV>*:nth-child(2):hover {
    background-color: #AA2832;
}

.titleBar-AC4pGV>*:nth-child(3):hover {
    background-color: #056295;
}

.titleBar-AC4pGV>*:nth-child(4):hover {
    background-color: #FDB100;
}

.titleBar-AC4pGV>*:nth-child(2) {
    margin-top: 6px
}

.titleBar-AC4pGV>*:nth-child(3) {
    margin-top: 6px
}

.titleBar-AC4pGV>*:nth-child(4) {
    margin-top: 6px
}

.theme-dark .footer-2gL1pp {
    background-color: #111111;
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
}

.theme-dark  .root-1gCeng {
    background-color: #151514;
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
}


/* Custom status picker */

#popout_8 > .animatorBottom-fS5rNO {
    transition: none;
}

#status-picker {
    width: 44.5px;
    margin: -9px 0 0 7px;
}
#status-picker::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    padding: 15px 0 0 20px;
    margin-left: 13px;
    transform: rotate(45deg);
}

.statusItem-33LqPf > .icon-1IxfJ2 {
    margin-left: 1px;
}
#status-picker-custom-status > div > .statusItem-33LqPf {
    margin-left: -0.5px;
}

.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF {
    display: none;
}


/* Status Picker */
#popout_8 > .animatorBottom-fS5rNO {
    transition: none;
}

#status-picker {
    width: 44.5px;
    margin: -9px 0 0 7px;
}
#status-picker::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: inherit;
    padding: 15px 0 0 20px;
    margin-left: 13px;
    transform: rotate(45deg);
}

.statusItem-33LqPf > .icon-1IxfJ2 {
    margin-left: 1px;
}
#status-picker-custom-status > div > .statusItem-33LqPf {
    margin-left: -0.5px;
}

.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF {
    display: none;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus, .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .lookFilled-1h1y05.selectOpen-hQuR6b, .lookFilled-1h1y05.select-1Pkeg4:focus {
    border-color: #95B906;
  
    
}

.scrollableContainer-2NUZem {
    border-radius: 0px;
   box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
  transition: box-shadow .3s
}

.scrollableContainer-2NUZem:focus-within {
   box-shadow: 0 0 0 1px #95B906, 0 2px 10px 0 rgba(0,0,0,.2);
   transition: box-shadow .3s;
}

.root-SR8cQa {
  border-radius: 1px;
}

.theme-dark .headerNormal-T_seeN {
    background-color: #111111;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #151514;
    color: hsla(0,0%,100%,.8);
}
